* {
	box-sizing: border-box;
	font-family: 'Source Sans Pro';
}

:root {
	--section: rgba( 0, 0, 0, 0.4);
	--border: rgba( 0, 0, 0, 0.4);
	--button: rgba( 0, 0, 0, 0.4);
	--highlight: cyan;
	--correct: lightgreen;
	--incorrect: red;
	--active: white;
	--inactive: #a2a2a2;
	--inactive-border: grey;
	--font-color: white;
	--background-image: url('assets/home.png');
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	min-width: 320px;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}

section > h2 {
	display: none;
}

.background {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom right, rgba( 0.4, 0.4, 0.4, 0.4), rgba( 0.1, 0.1, 0.1, 0.2)),
	                  var(--background-image);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center top;
	filter: blur(8px);
	border-radius: 40px;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;	
}

main {
	display: block;
	position: relative;
/*	margin-top: 20px;
	margin-bottom: 20px;*/
	color: var(--font-color);
	height: 100%;
}

p {
	margin: 10px;
}

h1 {
	margin: 0;
	font-size: 2.2rem;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

legend {
	display: none;
}

.inline {
	display: inline-block;
}

.nowrap {
	white-space: nowrap;
}

.outer-container {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(0, 0, 0, 0.0);
	text-align: center;
	padding: 10px;
	border: var(--border) 5px solid;
	border-radius: 40px;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
	font-size: 1.4rem;
	color: var(--font-color);
}

.inner-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.left-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.card {
	background-color: var(--section);
	padding: 10px;
	border-radius: 20px;
	margin-top: 10px;
}

.card-top {
	margin-top: 0;
	border-top-left-radius: 60px;
	border-top-right-radius: 40px;
}

.card-bottom {
	border-bottom-right-radius: 60px;
	border-bottom-left-radius: 40px;
}

.card-search {
	position: relative;
}

.score-inner-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.card-question > p {
	margin: 0;
}

.card-answers, .card-search {
	position: relative;
}

.card-result p {
	margin: 20px;
}

.search-quizzes-container {
	position: relative;
	max-width: 80%;
	margin-bottom: 5px;
}

.search-quizzes {
	padding: 6px;
	padding-left: 10px;
	margin-top: 8px;
	margin-bottom: 14px;
	width: 100%;
	font-size: 1.2rem;
	border: var(--highlight) 2px solid;
	border-radius: 10px;
	background-color: var(--button);
	color: var(--font-color);
}

input[type="text"]::placeholder {
	color: var(--font-color);
}

i {
	color: var(--font-color);
}

.btn {
	display: inline-block;
	background-color: var(--button);
	color: var(--font-color);
	font-size: 1.2rem;
	border: var(--active) 2px solid;
	border-radius: 10px;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 6px;
	margin-left: 6px;
}

.btn-quiz {
	width: 75%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.btn-answer {
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 7px;
	margin-bottom: 7px;
	width: 75%;
}

.answer-reply {
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
}

.btn:disabled, .btn:disabled:hover {
	color: var(--font-color);
	border: var(--inactive-border) 2px solid;
}

.btn:hover, .btn:focus {
	border: var(--highlight) 2px solid;
}

.btn-answer-answered:disabled, .btn-answer-answered:hover:disabled {
	border: var(--incorrect) 2px dashed;
	background-color: rgba(128, 128, 128, 0.5);
	text-decoration: line-through;
}

.btn-answer-correct:disabled, .btn-answer-correct:hover:disabled {
	border: var(--correct) 6px solid;
	text-decoration: unset;
}

.btn-nav, .btn-quizlist-nav {
	position: absolute;
	font-size: 1.8rem;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	background-color: unset;
	padding: 5px;
}

.btn-prev, .btn-quizlist-prev {
	left: -2%;
}

.btn-next, .btn-quizlist-next {
	right: -2%;
}

.btn-nav:enabled:hover {
	border: white 2px solid;
}

.btn-nav:enabled:focus, .btn-quizlist-nav:enabled:focus {
	color: var(--highlight);
	border: var(--highlight) 2px solid;
}

.btn-nav:disabled, .btn-quizlist-nav:disabled {
	display: none;
}

.btn-nav:disabled:hover {
	border: unset;
}

button.clear-search {
	border: 0px;
	background-color: unset;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
}

.end-btn-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.end-btn-container > * {
	margin: 6px;
}

.no-display {
	display: none;
}

@media screen and ( min-width: 600px ) and ( orientation: portrait ), ( min-width: 900px ) {
	.outer-container {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		padding: 25px;
		min-width: 400px;
		font-size: 1.5rem;
	}

	.btn-nav, .btn-quizlist-nav {
		font-size: 4.0rem;
	}

	.btn-prev, .btn-quizlist-prev {
		left: 0%;
	}

	.btn-next, .btn-quizlist-next {
		right: 0%;
	}

	body {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.card {
		margin-top: 20px;
	}

	.card-top {
		border-top-left-radius: 40px;
		border-top-right-radius: 20px;
		margin-top: 0px;
	}

	.card-bottom {
		border-bottom-right-radius: 40px;
		border-bottom-left-radius: 20px;
	}
}

@media screen and ( orientation: landscape ) and ( max-width: 900px ) {
	.inner-container {
		flex-direction: row;
		align-items: flex-start;
	}

	.card-answers {
		margin-top: 0px;
		margin-left: 10px;
		flex: 1 0;
	}

	.card-top, .card-bottom {
		border-radius: 20px;
	}

	.card-bottom-right {
		border-bottom-right-radius: 60px;
	}
	
	.card-top-left {
		border-top-left-radius: 60px;
	}
	
	.card-bottom-left {
		border-bottom-left-radius: 40px;
	}
	
	.card-top-right {
		border-top-right-radius: 40px;
	}

	.left-container {
		flex: 1 1;
	}

	.btn-answer {
		padding: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 8px;
	}

	.btn-nav, .btn-quizlist-nav {
		font-size: 2.2rem;
	}

	.btn-prev {
		left: -3%;
	}

	.btn-next {
		right: -3%;
	}

	.btn-quiz {
		width: 40%;
	}

	.btn-quizlist-prev {
		left: 0%;
	}

	.btn-quizlist-next {
		right: 0%;
	}
	
	.end-btn-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
	}
}

@media screen and ( min-width: 900px) {
	.btn-answer, .btn-quiz {
		width: 40%;
	}

	.btn-quiz {
		padding: 8px;
		padding-left: 16px;
		padding-right: 16px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.end-btn-container {
		flex-direction: row;
		justify-content: center;
	}
}
