* {
	box-sizing: border-box;
	font-family: 'Source Sans Pro';
}

:root {
	--section: rgba( 0, 0, 0, 0.4);
	--border: rgba( 0, 0, 0, 0.4);
	--button: rgba( 0, 0, 0, 0.4);
	--highlight: cyan;
	--correct: lightgreen;
	--incorrect: red;
	--active: white;
	--inactive: #a2a2a2;
	--inactive-border: grey;
	--font-color: white;
	--background-image: url('https://www.thebostoncalendar.com/system/events/photos/000/297/473/original/Great_Horned_Owl_Shannon_Quinn_APA_Email-Web_Ready_Image_0.jpg');
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	min-width: 350px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
}

.background {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom right, rgba( 0.4, 0.4, 0.4, 0.4), rgba( 0.1, 0.1, 0.1, 0.2)),
	                  var(--background-image);
	background-repeat: none;
	background-size: auto 100%;
	background-position: center top;
	filter: blur(8px);
	border-radius: 40px;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;	
}

main {
	display: block;
	position: relative;
/*	margin-top: 20px;
	margin-bottom: 20px;*/
	color: var(--font-color);
	height: 100%;
}

.container {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(0, 0, 0, 0.0);
	text-align: center;
	padding: 25px;
	border: var(--border) 5px solid;
	border-radius: 40px;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
	font-size: 1.5rem;
	color: var(--font-color);
}

.head {
	background-color: var(--section);
	padding: 10px;
	border-radius: 20px;
	border-top-left-radius: 40px;
}

.score {
	background-color: var(--section);
	/*padding: 10px;*/
	margin-top: 20px;
	border-radius: 20px;
}

.score {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.card {
	background-color: var(--section);
	padding: 10px;
	margin-top: 20px;
	border-radius: 20px;
	border-bottom-right-radius: 40px;
}

.card-questions {
	position: relative;
}

h1 {
	margin: 0;
	font-size: 2.2rem;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

fieldset > legend {
	display: none;
}

.btn, .lbl-button {
	display: inline-block;
	background-color: var(--button);
	color: var(--font-color);
	font-size: 1.2rem;
	border: var(--active) 2px solid;
	border-radius: 10px;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 6px;
	margin-left: 6px;
}

.lbl-button {
	padding: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	width: 75%;
}

.btn:disabled, .btn:disabled:hover {
	color: var(--inactive);
	border: var(--inactive-border) 2px solid;
}

.btn:hover, .btn:focus, .lbl-button:hover {
	border: var(--highlight) 2px solid;
}

.lbl-button-disabled:hover {
	border: var(--active) 2px solid;
}

.lbl-button-answered, .lbl-button-answered:hover {
	border: var(--incorrect) 2px solid;
}

.lbl-button-correct, .lbl-button-correct:hover {
	border: var(--correct) 2px solid;
}

.radio-line {
	/*padding: 12px;*/
	margin-bottom: 25px;
}

@media screen and ( min-width: 600px ) {
	.container {
		width: 80%;
		min-width: 400px;
		max-width: 1000px;
	}
}

@media screen and ( min-width: 1000px) {
	.lbl-button {
		width: 40%;
	}
}

.no-display {
	display: none;
}

.nav-btns {
	margin-top: 16px;
	position: relative;
	height: 2.4rem;
}

button.btn-nav {
	position: absolute;
	font-size: 4.0rem;
	transform: translateY(-50%);
	border: none;
	background-color: unset;
}

button.btn-prev {
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
}

button.btn-next {
	right: 0%;
	top: 50%;
	transform: translateY(-50%);
}

.btn-nav:enabled:hover {
	border: white 2px solid;
}

.btn-nav:enabled:focus {
	color: var(--highlight);
	border: var(--highlight) 2px solid;
}

.btn-nav:disabled, .btn-nav:disabled:hover {
	border: unset;
}